<ion-header>

  <ion-navbar>
    <ion-title>ToDo app</ion-title>
  </ion-navbar>

</ion-header>


 <ion-content padding>
  <form [formGroup]="listForm">
    <ion-item>
      <ion-label floating >Add Task</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
  </form>
  <button ion-button full color="primary" (click)="save()">Add</button>

  <ion-list *ngFor="let list of listProvider.data; index as i" [ngClass]="{'is-active': list.isUpdate}">
  
        <ion-item *ngIf="!list.isUpdate; else update">
		
		
            {{list.name}}
              
             <button ion-button color="danger"  item-end (click)="removeList(list._id)">Delete</button>
        </ion-item>
        
    </ion-list>
</ion-content> 
